<section class="header pt-14 px-12 lg:px-16">
    <div class="header-container flex justify-between items-center">
        <div class="logo">NS.</div>
        <div class="nav flex gap-5 bg-zinc-800 align-middle justify-between">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Skills</a>
            <a href="#">Contact</a>
        </div>
        <div class="theme">
            <button id="theme-toggle" class="group rounded-full bg-white/90 px-3.5 py-2 shadow-lg ring-1 shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
            <!-- <button id="theme-toggle" class="px-3 py-2 rounded-3xl bg-gray-200 dark:bg-zinc-700 pointer-coarse"> -->
                <!-- Light icon -->
                <svg id="theme-toggle-light-icon" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                    <path
                        d="M12 3v2m0 14v2m9-9h-2M5 12H3m15.364-6.364l-1.414 1.414M8.05 16.95l-1.414 1.414m12.728 0l-1.414-1.414M8.05 7.05 6.636 5.636" />
                    <circle cx="12" cy="12" r="5" />
                </svg>

                <!-- Dark icon -->
                <svg id="theme-toggle-dark-icon" class="w-6 h-6 hidden" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M17.293 13.293a8 8 0 11-10.586-10.586 1 1 0 00-1.32-1.497A10 10 0 1018.59 14.613a1 1 0 00-1.297-1.32z" />
                </svg>
            </button>

        </div>
    </div>
</section>